@model VideoGameRepository

@{
    ViewData["Title"] = "Home Page";


}

<div class="text-center">
    <h1 class="display-4">Games List</h1>
    <ul>
        @foreach(var videoGame in Model.VideoGames)
        {
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="DetailPage" asp-route-id = "@videoGame.Id" >@videoGame.Title</a>
            </li>
        }
    </ul>
</div>


